<!DOCTYPE html>
    <head><% include ../partials/head %></head>
    <header><% include ../partials/header %></header>
    <body>
        ini untuk form footer
    </body>
    <footer>
        <% include ../partials/footer %>
    </footer>
</html>